<div id="hackney-address" class="right">
  Income Collection Team
  <br>
  Hackney Service Centre
  <br>
  1 Hillman Street
  <br>
  London, E8 1DY
  <br>
  Telephone: 020 8356 3100
  <br>
  Email: income.services@hackney.gov.uk
  <br>
  Your Reference: <%= @letter.payment_ref %>
  <br>
  Our Reference: <%= @letter.tenancy_ref %>
</div>
