<div class="new_page">
<p>
  London Borough of Hackney controls all used for the purposes of managing your account.  We participate in the National Fraud Initiative and will provide data from your housing records for the prevention and detection of fraud.
</p>
  <h2>Ways To Pay</h2><br>

  <table class="income_payment_table">
    <tr class="payment_table_blue">
      <th>Payment method</th>
      <th>Information</th>
    </tr>
    <tr>
      <th>Post Office and Paypoint</th>
      <td>Visit any post office or shop bearing the Paypoint symbol. You will need your payment card.</td>
    </tr>
    <tr>
      <th>Direct Debit</th>
      <td>Call <strong>020 8356 3100</strong> for a form or visit <strong>www.hackney.gov.uk</strong></td>
    </tr>
    <tr>
      <th>Bank Standing Order</th>
      <td>
        Payable to: <strong>London Borough of Hackney</strong><br>
        Bank: <strong>Lloyds Bank PLC</strong><br>
        Sort code: <strong>30 - 00 - 02</strong><br>
        Account number: <strong>*****ACCOUNT NUMBER*****</strong><br>
        <strong>And your 10 digit payment reference</strong>
      </td>
    </tr>
    <tr>
      <th>Online Banking</th>
      <td>
        Using the online or telephone banking facility your bank has provided you.<br>
        Bank details as above.
      </td>
    </tr>
    <tr>
      <th>Housing Contact Centre</th>
      <td>
        Call <strong>020 8356 3100</strong><br>
        (9am to 5pm Monday to Friday)
      </td>
    </tr>
    <tr>
      <th>24-Hour Phone Line</th>
      <td>
        Call <strong>020 8356 5050</strong>
      </td>
    </tr>
    <tr>
      <th>Online</th>
      <td>
        <strong>www.hackney.gov.uk</strong>
      </td>
    </tr>
    <tr>
      <th>Cheque</th>
      <td>
        Pay to London Borough of Hackney.<br>
        Write your name, payment reference number and address on the back.<br><br>
        Post to:<br>
        <strong>
          Cashiers<br>
          2 Hillman Street<br>
          E8 1FB
        </strong>
      </td>
    </tr>
    <tr>
      <th>Deduction from wages</th>
      <td>
        Speak to the Income Collection Team on <strong>020 8356 3100</strong>
      </td>
    </tr>
  </table>
  <p>
    We urge tenants to use credit cards wisely when paying Housing Charges. Your Housing Charges are <strong>due every Monday</strong>. If you want to pay monthly you should pay in advance. Please keep all your receipts so you can check this against your statement. The date shown on your statement is the date that it reached us. If you don't recognise something please contact <strong>Income Services</strong> on <strong>020 8356 3100</strong>.<br>
    Lost your payment card? You can contact us on <strong>020 8356 3100</strong> to order a replacement.
  </p>
  <p>
    <strong>
      housing.rents@hackney.gov.uk<br>
      Have you registered for One Account? You can view your accounts and access many council services online.<br>
      Register today on www.hackney.gov.uk
    </strong>
  </p>
</div>
