<div class="new_page">
<h2> ANNEX 2 STANDARD FINANCIAL STATEMENT</h2>

<p>
  Please complete the form in as much details as possible. This will enable us to accurately review your income and expenditure as well as your total indebtedness. Wherever possible please provide supporting documents (such as council tax bills, wage slips, etc) for the information detailed below.
</p>


<table class="financial_statement">
    <tr>
        <th>Name:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>D.O.B:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>Application:</th>
        <td>Single</td>
        <td class="tick_box tick_box_grey"></td>
        <td>Joint</td>
        <td class="tick_box tick_box_grey"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th>Partner: (if applicable)</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>Partner D.O.B:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>Address:</th>
        <td colspan="6">
          <div class="address"></div>
        </td>
    </tr>
    <tr>
        <th>Number of Dependent children:</th>
        <td>Under 16</td>
        <td class="tick_box"></td>
        <td>16-18</td>
        <td class="tick_box"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th>Other dependants:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>Number of household members:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>Number of vehicles in household:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th colspan="3">
          Please confirm you have considered (or discussed with an adviser)
          the use of any assets to make lump sum payments:
        </th>
        <td>Tick to confirm</td>
        <td class="tick_box tick_box_grey"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th>Contact / Team name:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>
            Agency:
        </th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th>Agency address:</th>
        <td colspan="6">
          <div class="address"></div>
        </td>
    </tr>
    <tr>
        <th>Case refernce number:</th>
        <td colspan="6"></td>
    </tr>
    <tr>
        <th rowspan="3">Employment status:</th>
        <td>Full-time</td>
        <td class="tick_box tick_box_grey"></td>
        <td>Part-time</td>
        <td class="tick_box tick_box_grey"></td>
        <td>Unemployed</td>
        <td class="tick_box tick_box_grey"></td>
    </tr>
    <tr>
      <td>Not working due to illness / disability</td>
      <td class="tick_box tick_box_grey"></td>
      <td>Self-employed</td>
      <td class="tick_box tick_box_grey"></td>
      <td>Retired</td>
      <td class="tick_box tick_box_grey"></td>
    </tr>
    <tr>
      <td>Carer:</td>
      <td class="tick_box tick_box_grey"></td>
      <td>Student</td>
      <td class="tick_box tick_box_grey"></td>
      <td>Other</td>
      <td class="tick_box tick_box_grey"></td>
    </tr>
    <tr>
        <th rowspan="3">
            Partners employment:
        </th>
        <td>
            Full-time
        </td>
        <td class="tick_box tick_box_grey">
        </td>
        <td>
            Part-time
        </td>
        <td class="tick_box tick_box_grey">
        </td>
        <td>
            Unemployed
        </td>
        <td class="tick_box tick_box_grey">
        </td>
    </tr>
    <tr>
    <td>
        Not working due to illness / disability
        </td>
        <td class="tick_box tick_box_grey">
        </td>
        <td>
         Self-employed
        </td>
        <td class="tick_box tick_box_grey">
        </td>
        <td>
            Retired
        </td>
        <td class="tick_box tick_box_grey">
        </td>
    </tr>
    <tr>
        <td>Carer </td>
        <td class="tick_box tick_box_grey"></td>
        <td>Student</td>
        <td class="tick_box tick_box_grey"></td>
        <td>Other</td>
        <td class="tick_box tick_box_grey"></td>
    </tr>
    <tr>
        <th>Date of statement:</th>
        <td colspan="6"></td>
    </tr>
</table>
</div>
