<div class="new_page">
<table class="payment_table">
      <tr>
        <th class="left payment_table_orange" colspan="4">YOUR INCOME</th>
      </tr>
      <tr>
        <th class="payment_table_grey">If income is variable enter an average</th>
        <th class="payment_table_grey">Amount</th>
        <th class="payment_table_grey">How often?</th>
        <th class="payment_table_grey">Per Calendar Month</th>
      </tr>
      <tr>
        <td>Your Wage</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Your partner’s wage</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Part-time wages</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child benefit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Rent or board received</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>State pensions</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Private pension(s)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pension credit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Employment and support allowance (ESA)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Job Seeker’s allowance (JSA)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child support or CSA</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Disability Living Allowance (DLA)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Income Support</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Working Tax Credit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child Benefit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Housing Benefit</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="payment_table_right payment_table_orange" colspan="3">TOTAL INCOME</th>
        <td class="payment_table_grey"></td>
      </tr>
    </table>
    <br>
    <br>
    <table class="payment_table">
      <tr>
        <th class="left payment_table_orange" colspan="4">YOUR LIVING COSTS</th>
      </tr>
      <tr>
        <th class="payment_table_grey">Enter the total amount you pay including arrears</th>
        <th class="payment_table_grey">Amount</th>
        <th class="payment_table_grey">How often?</th>
        <th class="payment_table_grey">Per Calendar Month</th>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">HOUSEHOLD AND UTILITY BILLS</th>
      </tr>
      <tr>
        <td>Rent</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mortage</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Secured Loan</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mortgage endowment premium</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Service charge or ground rent</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Water</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Council Tax</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Gas</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Electricity</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Other household fuels (oil, coal etc)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">HOUSEHOLD SERVICES</th>
      </tr>
      <tr>
        <td>Buildings and contents</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Telephone and internet</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>TV licence</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Satellite or cable TV</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Repairs, service contracts</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Appliance rental</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Child support paid by you</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Childcare</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Life insurance & private pension</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Medical or accident insurance </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">TRAVEL</th>
      </tr>
      <tr>
        <td>Spares and servicing</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Road tax</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Car insurance</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Breakdown cover</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Fuel and parking</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Public transport</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">FOOD AND HOUSEKEEPING</th>
      </tr>
      <tr>
        <td>Food, toiletries and cleaning</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Meals at work</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>School meals</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pets (food and insurance)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Tobacco</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Clothing and footwear</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">OTHER SERVICES</th>
      </tr>
      <tr>
        <td>School trips and activities</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Medicines and prescriptions</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Dentist,optician</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Hairdressing</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Professional or union fees</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Education fees</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Laundry or dry cleaning</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">PERSONAL &  LEISURE</th>
      </tr>
      <tr>
        <td>Newspapers & magazines</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Sports, hobbies and entertainment</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Children’s pocket money</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Church or charity donations</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Sundries and emergencies</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="left payment_table_orange" colspan="4">OTHER COSTS</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="payment_table_right payment_table_orange" colspan="3">TOTAL EXPENSES</th>
        <td class="payment_table_grey"></td>
      </tr>
    </table>
    <br>
    <br>
    <table class="payment_table">
    <tr>
        <th class="left payment_table_orange" colspan="6">Payments towards debts</th>
    </tr>
    <tr>
        <th class="payment_table_grey">Name of organisation or lender</th>
        <th class="payment_table_grey">Type of debt</th>
        <th class="payment_table_grey">Amount owed</th>
        <th class="payment_table_grey">Usual payment</th>
        <th class="payment_table_grey">How often?</th>
        <th class="payment_table_grey">Per calendar month</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="payment_table_right payment_table_orange" colspan="2">TOTAL EXPENSES</th>
        <td class="payment_table_grey"></td>
        <th class="payment_table_right payment_table_orange" colspan="2">TOTAL DEBT PAYMENTS</th>
        <td class="payment_table_grey"></td>
      </tr>
    </table>
    <br>
    <br>
    <table class="payment_table">
    <tr>
        <th class="left payment_table_orange" colspan="5">Court Payments</th>
    </tr>
    <tr>
        <th class="payment_table_grey">Type of court order</th>
        <th class="payment_table_grey">Amount owed</th>
        <th class="payment_table_grey">Usual payment</th>
        <th class="payment_table_grey">How often?</th>
        <th class="payment_table_grey">Per calendar month</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th class="payment_table-right payment_table_orange">TOTAL COURT DEBT</th>
        <td class="payment_table_grey"></td>
        <th class="payment_table-right payment_table_orange" colspan="2">TOTAL COURT PAYMENTS</th>
        <td class="payment_table_grey"></td>
      </tr>
      </table>
</div>