<div class="payment_options new_page">

  <h2>PAYMENT OPTIONS</h2>

  <h2>BY POST & IN PERSON</h2>

  <p>
    Cheques and Postal Orders should be made payable to London Borough of Hackney
    and sent to: <strong>Borough Treasurer, Ground Floor, The Annexe, 2 Hillman Street,
    London E8 1FB</strong> or in person Monday to Friday between 9.00am to 5:00pm.
  </p>

  <h2>BY STANDING ORDER</h2>

  <p>
    You can pay by monthly standing order. Please call us to discuss a repayment term
    prior to setting up a standing order.
  </p>

  <h2>BY PHONE & ONLINE</h2>

  <p>
    To pay over the phone or online, please have your Major Works payment reference
    and your debit/credit card ready as you will need these to make payment.
    <ul>
      <li>You can make a payment 24 hours a day by calling the automated line 020 8356
      5050, please press option 4, then option 2.</li>
      <li>You can call the Leasehold and Right to Buy Services during office hours
      (Monday – Friday from 9am to 5pm) on 020 8356 2299</li>
      <li>You can call Hackney Corporate Contact Centre during office hours (Monday–
      Friday from 9am to 5pm) on 020 8356 3000.</li>
      <li>You can pay online via our website http://hackney.gov.uk/housingpayments#onlinepayments</li>
    </ul>
  </p>

  <p>
    <strong>
      The following references are required when making payments via your banks
      online or telephone banking service.
    </strong>
  

  <table class="no_border">
    <tr>
      <td>Bank:</td>
      <td><strong>Lloyds Bank</strong></td>
    </tr>
    <tr>
      <td>Council's bank account number:</td>
      <td><strong>00634021</strong></td>
    </tr>
    <tr>
      <td>Council's bank sort-code number:</td>
      <td><strong>30-00-02</strong></td>
    </tr>
    <tr>
      <td>Reference (Service Charge Number):</td>
      <td><strong><%=  @letter.payment_ref %></strong></td>
    </tr>
  </table>
  </p>

  <h2 class="centre">ADVICE AND SUPPORT</h2>

  <p class = "no_top_margin">
  <ul>
    <li><strong>Citizens Advice Bureau – Provides free independent and confidential advice on
    legal, financial and other matters.</strong></li>
  </p>

  <p>
  
      Tel: 0844 499 1195 Website: <u>www.citizensadvice.org.uk</u>
    
  </p>

  <p>
  <li>
    <strong>
      Stepchange – Provides free debt advice
    </strong>
  </li>
  </p>

  <p>
      Tel: 0800 138 1111 Website: <u>www.stepchange.org.uk</u>
  </p>
  </ul>

  <p>
      Details of other agencies can be found via the website www.gov.uk or call our
      Recovery Team on 020 8356 2299.
  </p>

</div>
