<table class="no_border new_page">
  <tr>
    <td colspan="2">
      <h2 class ="centre">
        REPLY FORM
      </h2>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        If you have any questions or would like to discuss the debt, please call Hackney Council Leasehold & Right to Buy Services on 020 356 2299.
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p class="horizontal_dotted_line"><span><strong>Full Name:</strong></span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span><strong>Address:</strong></span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span><strong>Contact telephone numbers:</strong></span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span><strong>Email address:</strong></span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <strong>
        Payment Reference: <%= @letter.payment_ref %>
      </strong>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="centre"><span><strong>How will you pay?</strong></span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        Only complete this section if you want to pay now.
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        Please see our ‘Payment Options’ information sheet informing you how to pay. Keep a record of the payments you make.
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <strong>
        &#9711; &nbsp; BOX A I will pay what I owe now.
      </strong>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        <i>
          Tick this box if you agree that you owe all or part of the debt and you are able to pay
          what you owe now. You should pay using the payment details in the letter from the
          business. Keep a copy of any proof of payment you receive.
        </i>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        <strong>&#9711; &nbsp; BOX B I will pay, but I need time to pay.</strong>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        <i>
          Tick this box if you agree that you owe all or part of the debt, but you can’t pay right now.
        </i>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        <i>
          If you offer to make repayments, you must be able to afford them. You should
          consider getting debt advice about how much you can afford to repay. If you are
          seeking debt advice, complete the next section.
        </i>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span>My proposals for repayment are</span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i>
        Explain on a separate piece of paper how you intend to pay the debt. Say how much
        you could pay now and how you will pay the remainder. For example, say how much
        you could pay each week, fortnight or month and when your first payment would be made.
      </i>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        <strong>I have provided a Financial Statement showing my current financial situation:</strong>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      Yes &nbsp; &#9711;
    </td>
    <td>
      No &nbsp; &#9711;
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i>
        To help the Council ensure you can afford your proposed repayments, fill out the
        Financial Statement that is attached to this form. You should also attach a copy of
        any budget or financial statement that a debt advice organisation has helped you prepare.
      </i>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <strong>Do you intend to seek, or are you already receiving, debt advice?</strong>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>
        Only complete this section if you are receiving debt advice about whether you owe the debt or whether you can afford to pay.
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <strong>&#9711; &nbsp; BOX C  I am receiving or intend to seek debt advice. </strong>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span>I am receiving advice from</span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i> Insert the name and contact details of the person or organisation giving you advice.</i>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span>I am receiving advice about</span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i>Explain on a separate piece of paper what you are getting advice about, for example whether you owe the debt or how you could pay.</i>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span>I have an appointment with an adviser on</span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i>If you have an appointment with a debt adviser, give the appointment date and time.</i>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span>I can’t obtain advice within 30 days of returning this Reply Form because</span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i>If it will take you longer than 30 days to get debt advice, explain on a separate piece
        of paper the reason for the delay and when you expect advice will be available.
      </i>
    </td>
  </tr>
  <tr>
    <td>
      <p class="horizontal_dotted_line">
        <span><strong>Signature</strong></span>
      </p>
    </td>
    <td>
      <p class="horizontal_dotted_line">
        <span><strong>Date</strong></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
      </p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <p class="horizontal_dotted_line"><span><strong>Print Name</strong></span></p>
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <i>
        Sign and date this Reply Form once you have completed it. Then return it to the address given in the letter.
      </i>
    </td>
    <tr>
      <td colspan='2'>
        <i>
          Make sure you keep a copy of this form for reference in the future.
          If your circumstances change, please update the business as soon as possible.
        </i>
      </td>
    </tr>
  </table>
