<div class="sender_address">
  <strong>Leasehold & Right To Buy Service</strong> <br>
  Hackney Council <br>
  Hackney Service Centre <br>
  1 Hillman Street <br>
  London <br>
  E8 1DY
</div>

<p>
  020 8326 2299 <br>
  service.charges@hackney.gov.uk <br>
  Payment ref: <%= @letter.payment_ref %> <br>
</p>
