<div class="payment_options">
  <h2>PAYMENT OPTIONS</h2>

  <h2>BY POST & IN PERSON</h2>

  <p class="no_top_margin">
    Cheques and Postal Orders should be made payable to London Borough of Hackney
    and sent to: Borough Treasurer, Ground Floor, The Annexe, 2 Hillman Street,
    London E8 1FB or in person Monday to Friday between 9.00am to 5:00pm.
  </p>

  <h2>BY DIRECT DEBIT</h2>

  <p class="no_top_margin">
    You can pay by monthly standing order. Please call us to discuss a repayment term
    prior to setting up a standing order.
  </p>

  <h2>BY PHONE & ONLINE</h2>

  <p class="no_top_margin">
    To pay over the phone or online, please have your Major Works payment reference
    and your debit/credit card ready as you will need these to make payment.
  </p>

  <p>
    <strong>
      You can make a payment 24 hours a day by calling the automated line 020 8356
      5050, please press option 2 twice
      <br>
      You can call the Leasehold and Right to Buy Services during office hours
      (Monday – Friday from 9am to 5pm) on 020 8356 2299
      <br>
      You can call Hackney Corporate Contact Centre during office hours (Monday–
      Friday from 9am to 5pm) on 020 8356 3000.
      <br>
      You can pay online via our website http://hackney.gov.uk/housingpayments#onlinepayments
    </strong>
  </p>

  <p>
    <strong>
      The following references are required when making payments via your banks
      online or telephone banking service.
    </strong>
  </p>

  <table class="hackney_logo">
    <tr>
      <td><strong>Bank:</strong></td>
      <td><strong>Lloyds Bank</strong></td>
    </tr>
    <tr>
      <td><strong>Council's bank account number:</strong></td>
      <td><strong>00634021</strong></td>
    </tr>
    <tr>
      <td><strong>Council's bank sort-code number:</strong></td>
      <td><strong>30-00-02</strong></td>
    </tr>
    <tr>
      <td><strong>Payment Reference number:</strong></td>
      <td><strong><%= params.fetch(:payment_ref) %></strong></td>
    </tr>
  </table>

  <h2>ADVICE AND SUPPORT</h2>

  <p class = "no_top_margin">
    Citizens Advice Bureau – Provides free independent and confidential advice on
    legal, financial and other matters.
  </p>

  <p>
    <strong>
      Tel: 0844 499 1195 Website: www.citizensadvice.org.uk
    </strong>
  </p>

  <p>
    <strong>
      Stepchange – Provides free debt advice
    </strong>
  </p>

  <p>
    <strong>
      Tel: 0800 138 1111 Website: www.stepchange.org.uk
    </strong>
  </p>

  <p>
    <strong>
      Details of other agencies can be found via the website www.gov.uk or call our
      Recovery Team on 020 8356 2299.
    </strong>
  </p>

</div>
